<form [formGroup]="CustomerModel.formCustomerGroup">

  <label>Customer Name:-</label><input formControlName="CustomerNameControl" [(ngModel)]="CustomerModel.CustomerName"
    type="text"> <br />
  Customer Code-<input formControlName="CustomerCodeControl" [(ngModel)]="CustomerModel.CustomerCode" type="text" ><br />
  Customer Amount:-<input [(ngModel)]="CustomerModel.CustomerAmount" type="text"
    [ngModelOptions]="{standalone: true}"><br />
  <button (click)="AddCustomer()" [disabled]=!(CustomerModel.formCustomerGroup.valid)>Add Customer</button>

  <div style="color: red;" *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasErrorinView('required','CustomerNameControl'))">
    Customer Name is required
    </div>
    <br/>
    <div style="color: red;" *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasErrorinView('required','CustomerCodeControl'))">
      Customer Code is required
      </div>
      <br/>
      <div style="color: red;" *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasErrorinView('pattern','CustomerCodeControl'))">
        Customer Code format is not proper
        </div>
        <br/>
</form>
<!-- {{CustomerModel.CustomerName}}
{{CustomerModel.CustomerCode}}
{{CustomerModel.CustomerAmount}} -->

<table border="1">
  <tr>
    <td>Customer Code</td>
    <td>Customer Name</td>
    <td>Customer Amount</td>
  </tr>
  <tr *ngFor="let cust of CustomerModels">
    <td>{{cust.CustomerCode}}</td>
    <td>{{cust.CustomerName}}</td>
    <td>{{cust.CustomerAmount}}</td>
    <td><button (click)=EditCusomer(cust)>Edit</button></td>
    <td><button>Delete</button></td>
  </tr>
</table>