<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
<input type="email" required #username="ngModel" name="username" pattern="[a-zA-Z]+$" placeholder="Enter UserName" ngModel/>
<br/>
<span *ngIf="username.invalid && username.touched" style="color: red;">Please enter a Valid username</span>
<br/>
<input type="password" minlength="2" required #password="ngModel" name="password" placeholder="Enter Password" ngModel />
<br/>
<span *ngIf="password.invalid && password.touched" style="color: red;">Please enter a Valid password</span>
<br/>
<button [disabled]="loginForm.invalid">Login</button>
</form>