<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Routing Application</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" > Home </a></li>
                <li class="nav-item"><a class="nav-link" > Customer </a></li>
                <li class="nav-item"><a class="nav-link" > Supplier </a></li>
            </ul>
        </div>
    </div>
</nav>

